@{
    ViewBag.Title = "Bảng lương tổng hợp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listMonth = ViewBag.listMonth;
    List<SelectListItem> listYear = ViewBag.listYear;
}
@using (Html.BeginForm("UploadPayslip", "Payslip", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-detail", @class = "create-form form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <section class="list-widget widget">
        <header>
            <h4>BẢNG LƯƠNG TỔNG HỢP</h4>
        </header>
        <div class="body">
            <div class="form-horizontal">
                <div class="row form-group">
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                        <div class="input-group-btn">
                            @Html.DropDownList("ddlMonth", new SelectList(listMonth, "Value", "Text", DateTime.Now.Month.ToString()), new { @class = "form-control select2" })
                            @Html.DropDownList("ddlYear", new SelectList(listYear, "Value", "Text", DateTime.Now.Year.ToString()), new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 file-loading margin-bottom">
                        <input id="FileUpload" name="FileUpload" type="file" style="padding-top:6px;">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                        <button type="button" id="btn-filter" class="btn btn-success" style="width:110px;"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                        <button type="button" id="btn-upload" class="btn btn-warning"><i class="fa fa-upload"></i> Tải lên bảng lương</button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered" id="data-list">
                        <thead>
                            <tr>
                                <th style="width: 10px" class="text-center">STT</th>
                                <th class="text-center">Họ và tên</th>
                                <th style="width:150px;" class="text-center">Lương cứng</th>
                                <th style="width:150px;" class="text-center">Phụ cấp</th>
                                <th style="width:150px;" class="text-center">Thực lĩnh</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
}
@section Scripts{
    <script src="/Content/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/lib/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/Content/lib/datatables/jquery.slimscroll.min.js"></script>
    <script src="/Content/lib/datatables/fastclick.js"></script>
    <script src="/Content/lib/select2/select2.min.js"></script>
    <script>
        $(function () {
            var loadList;
            function pageLoad() {
                $("#ddlMonth").select2({
                    templateResult: function (d) { return $(d.text); },
                    templateSelection: function (d) { return $(d.text); },
                });
                $("#ddlYear").select2({
                    templateResult: function (d) { return $(d.text); },
                    templateSelection: function (d) { return $(d.text); },
                });

                $("#ddlMonth").on("change", function (e) {
                    loadList.ajax.reload(null, false);
                });

                $("#ddlYear").on("change", function (e) {
                    loadList.ajax.reload(null, false);
                });

                $("#btn-filter").click(function (e) {
                    loadList.ajax.reload(null, false);
                });
                loadList = $('#data-list').DataTable({
                    ajax: {
                        url: '@Url.Action("PayslipList", "Payslip")',
                        "data": function (d) {
                            d.month = $("#ddlMonth").val();
                            d.year = $("#ddlYear").val();
                        }
                    },
                    'paging': true,
                    'lengthChange': false,
                    'searching': true,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                });

                $("#frm-detail").submit(function (e) {
                    e.preventDefault();
                    $("#btn-filter").prop('disabled', true);
                    $("#btn-upload").prop('disabled', true);
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: 'json',
                        type: "POST",
                        url: $(this).attr('action'),
                        data: formData,
                        success: function (data) {
                            if (data.status) {
                                window.location.reload();
                            }
                            $("#btn-filter").prop('disabled', false);
                            $("#btn-upload").prop('disabled', false);
                            alert(data.message);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('Tải lên bảng lương thất bại');
                            $("#btn-filter").prop('disabled', false);
                            $("#btn-upload").prop('disabled', false);
                        }
                    });
                });

                $("#btn-upload").click(function (e) {
                    $("#frm-detail").trigger("submit");
                });
            }
            pageLoad();
            PjaxApp.onPageLoad(pageLoad);
        });
    </script>
}