@{
    ViewBag.Title = "Bảng lương chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listMonth = ViewBag.listMonth;
    List<SelectListItem> listYear = ViewBag.listYear;
    List<SelectListItem> listUser = ViewBag.listUser;
}
<section class="list-widget widget">
    <header>
        <h4>BẢNG LƯƠNG CHI TIẾT</h4>
    </header>
    <div class="body">
        <div class="form-horizontal">
            <div class="row form-group">
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                    <div class="input-group-btn">
                        @Html.DropDownList("ddlMonth", new SelectList(listMonth, "Value", "Text", DateTime.Now.Month.ToString()), new { @class = "form-control select2" })
                        @Html.DropDownList("ddlYear", new SelectList(listYear, "Value", "Text", DateTime.Now.Year.ToString()), new { @class = "form-control select2" })
                    </div>
                </div>
                @Html.Label("Nhân viên: ", new { @class = "control-label col-xs-2 col-sm-2 col-md-2 col-lg-2", @style = "padding-top:6px;" })
                <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4 margin-bottom">
                        @Html.DropDownList("ddlUser", new SelectList(listUser, "Value", "Text", ""), new { @class = "form-control select2" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom">
                    <button type="button" id="btn-filter" class="btn btn-success" style="width:110px;"><i class="fa fa-filter"></i> Lọc</button>
                </div>
                <div class="box-body">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <ul class="list-group color-list item-click">
                            <li class="list-group-item list-group-item-primary" id="">Actual Working Days<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">Basic Salary<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">Housing Alowance<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">Transport Allowance<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">Mobile Allowance<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">Meal Allowance<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-info" id="">Total Salary<span class="badge">0</span></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <ul class="list-group color-list item-click">
                            <li class="list-group-item list-group-item-primary" id="">Bonus Performance<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">Nontaxable Income<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">BHXH 17%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">BHTNLĐ 0.5%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">BHYT 3%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">BHTN 1%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-info" id="">Total 21.5%<span class="badge">0</span></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <ul class="list-group color-list item-click">
                            <li class="list-group-item list-group-item-primary" id="">KPCĐ 2%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">BHXH 8%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">BHYT 1.5%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">BHTN 1%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">Total 10.5%<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-primary" id="">PIT payable<span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-danger" id="">Salary pay<span class="badge">0</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="/Content/lib/select2/select2.min.js"></script>
    <script>
        $(function () {
            function pageLoad() {
                $("#ddlMonth").select2({
                    templateResult: function (d) { return $(d.text); },
                    templateSelection: function (d) { return $(d.text); },
                });
                $("#ddlYear").select2({
                    templateResult: function (d) { return $(d.text); },
                    templateSelection: function (d) { return $(d.text); },
                });
                $("#ddlUser").select2({
                    templateResult: function (d) { return $(d.text); },
                    templateSelection: function (d) { return $(d.text); },
                });
            }
            pageLoad();
            PjaxApp.onPageLoad(pageLoad);
        });
    </script>
}